<h2>edit quote</h2>

<table class="table">
  
<tr>
  <th scope="col">Category</th>
  <th scope="col">Author</th>
  <th scope="col">Quote</th>
  <th scope="col">DELETE</th>
</tr>
<tr>
  <td><%= @quote['category']%></td> 
  <td><%= @quote['author']%></td> 
  <td><%= @quote['content']%></td> 
  <td>
  <form action="/quote/<%= @quote['id'] %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <button>DEL</button>
  </form>
  </td>
</tr>

<form action="/quote/<%= @quote['id'] %>" method="post">
  <input type="hidden" name="_method" value="put">

  <input name="category" type="text" value="<%= @quote['category'] %>">
  
  <input name="author" type="text" value="<%= @quote['author'] %>">

  <input name="content" type="text" value="<%= @quote['content'] %>">
  <button>update</button>
</form>
