<h2>results</h2>

<p>you searched... <%= @search %></p>

<table class="table">
  
<tr>
  <th scope="col">User</th>
  <th scope="col">Category</th>
  <th scope="col">Author</th>
  <th scope="col">Quote</th>
  <th scope="col">Add to Fav</th>
</tr>
<tr>
  
<% @result.each do |quote|%>
  <tr>
    <td><%= quote.user.username %></td>
    <td><%= quote.category %></td>
    <td><%= quote.author %></td>
    <td><%= quote.content %></td>
    <td>
      <% if quote.user_id != current_user.id %>

          <form action="/favourite/<%= quote.id %>" method="post">
            <input type="hidden" name="_method" value="post">
            <button>add to FAV</button>
          </form>
      <% end %>
    </td>
<%end%>
  </tr>
</table>